@charset "UTF-8";

html, body {
    width: 100%;
    height: 100%;
}

.header-container {
    width: 100%;
    height: 50px;
    background-color: #222;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 2px;
    border-bottom: 1px solid #222;
    position: relative;
}
.header-container .room-name {
    margin-right: 6px;
}
.header-container .lock {
    margin-right: 10px;
    color: #ccc;
}
.header-container .box-btn-invite {
    height: 100%;
    position: absolute;
    bottom: 0;
    right: 20px;
    display: flex;
    align-items: center;
}

.main-container {
    width: 100%;
    height: calc(100% - 50px);
    display: flex;
    flex-direction: row;
}
.main-container .left-container {
    width: 300px;
    height: 100%;
    background-color: #282828;
    display: flex;
    justify-content: center;
    overflow-y: auto;
}
.main-container .right-container {
    width: calc(100% - 300px);
    height: 100%;
    background-color: #000;
}

.main-container .left-container .user-container {
    width: 86%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.main-container .left-container .user-container .box-user {
    width: 100%;
    height: 35px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #555;
}
.main-container .left-container .user-container .box-user .nickname {
    height: 35px;
    line-height: 35px;
    color: #ccc;
    width: calc(100% - 75px);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.main-container .left-container .user-container .box-user .up-time {
    display: flex;
    justify-content: flex-end;
    color: #777;
    font-size: 10px;
    width: 70px;
}

.main-container .right-container .center-container {
    width: 100%;
    height: calc(100% - 100px);
    display: flex;
    justify-content: center;
    overflow-y: auto;
    margin-bottom: 20px;
}

.main-container .right-container .chat-container {
    width: 90%;
    height: 100%;
}

.main-container .right-container .chat-container .box-chat {
    display: flex;
    margin-top: 20px;
}

.main-container .right-container .chat-container .box-chat .user-header {
    width: 36px;
    height: 36px;
}

.main-container .right-container .chat-container .box-chat .user-header .img {
    width: 36px;
    height: 36px;
    border-radius: 36px;
    color: #fff;
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    /*background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: 50% 50%;*/
    box-shadow: 0 0 10px #333;
}
/*.box-chat-other .img {
    background-image: url("/static/images/2021082401.png");
}
.box-chat-self .img {
    background-image: url("/static/images/2021082402.jpg");
}*/

.main-container .right-container .chat-container .box-chat .right {
    margin-left: 20px;
}
.main-container .right-container .chat-container .box-chat .user-message .content {
    padding: 10px;
    border-radius: 5px;
    max-width: 300px;
    word-break: break-all;
}

.main-container .right-container .chat-container .box-chat-self {
    flex-direction: row-reverse;
}

.main-container .right-container .chat-container .box-chat-other .user-nickname {
    color: #999;
    font-size: 10px;
}

.main-container .right-container .chat-container .box-chat-other .user-message {
    margin-top: 5px;
    position: relative;
}

.main-container .right-container .chat-container .box-chat-self .user-message {
    position: relative;
}


.main-container .right-container .chat-container .box-chat-other .user-message .content {
    color: #fff;
    background-color: #333;
}

.main-container .right-container .chat-container .box-chat-self .user-message .content {
    color: #333;
    background-color: #00FF00;
}

.main-container .right-container .chat-container .box-chat .user-message .bubble:after {
    content: '';
    position: absolute;
    top: 0;
    width: 10px;
    height: 15px;
    border-width: 0;
    border-style: solid;
    border-color: transparent;
    border-bottom-width: 5px;
    border-bottom-color: currentColor;
}
.main-container .right-container .chat-container .box-chat-other .user-message .bubble:after {
    right: 100%;
    top: -5px;
    margin-right: -4px;
    border-radius: 0 0 0 30px;
    color: #333;
}

.main-container .right-container .chat-container .box-chat-self .user-message .bubble:after {
    left: 100%;
    top: 0;
    margin-left: -4px;
    border-radius: 0 0 30px 0;
    color: #00FF00;
}

.main-container .right-container .chat-container .box-chat-time {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.main-container .right-container .chat-container .box-chat-time .time {
    color: #777;
}


.main-container .right-container .form-container {
    width: 100%;
    height: 80px;
    background-color: #333;
    display: flex;
    justify-content: center;
}

.layui-form {
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
}

.layui-btn {
    margin-left: 10px;
}


.box-invite {
    padding: 30px;
    width: 300px;
    display: none;
}
.box-invite .box-invite-container {
    width: 100%;


}
.box-invite .box-invite-container .box-invite-img {
    width: 70%;
    border: 1px solid #eee;
    border-radius: 5px;
    margin: 0 auto;
    padding: 20px;
    background-color: #0079c1;
}
.box-invite .box-invite-container .box-invite-img .title {
    width: 100%;
    text-align: center;
    color: #fff;
    font-weight: bold;
}

.box-invite .box-invite-container .box-invite-img .box-img {
    width: 120px;
    height: 120px;
    margin: 20px auto 10px;
}

.box-invite .box-invite-container .box-invite-img .qrcode-img {
    width: 120px;
    height: 120px;
}
.box-invite .box-invite-container .box-invite-img .tip {
    width: 100%;
    text-align: center;
    font-size: 12px;
    color: #ccc;
    font-weight: lighter;
}
.box-invite .box-invite-container .box-btn {
    width: 100%;
    margin-top: 30px;
    text-align: center;
}
.box-invite .box-invite-container .box-btn .btn-download i {
    font-size: 20px;
}


@media only screen and (min-width: 1100px) {
    .main-container .left-container {
        display: flex;
    }
    .main-container .right-container {
        width: calc(100% - 300px);
    }

    .box-invite {
        width: 300px;
    }
}
@media only screen and (max-width: 1100px) {
    .main-container .left-container {
        display: none;
    }
    .main-container .right-container {
        width: 100%;
    }
    .box-invite {
        width: 280px;
    }
}