@charset "UTF-8";

html {
    font-size: 62.5%;
}

.divider {
    width: 1px;
    height: 15px;
    background-color: #c3c3c3;
    margin-right: 20px;
    margin-left: 20px;
}

/*.main-container {
    width: 100%;
    height: 100%;
    background-color: #777;
    display: flex;
    justify-content: center;
}*/
/*.form-container {
    width: 300px;
    height: 50px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}*/
/*.layui-form {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}*/
/*.layui-btn {
    margin-left: 10px;
}*/


.header-container {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #ccc;
}
.header-container .header-panel {
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}
.header-container .header-panel .left {
    height: 100%;
    display: flex;
    align-items: center;
}
.header-container .header-panel .right {
    height: 100%;
    display: flex;
    align-items: center;
}
.header-container .header-panel .left .logo {
    height: 50px;
    border-radius: 10px;
    box-shadow: 0 0 10px #ccc;
}
.header-container .header-panel .left .title {
    margin-left: 20px;
    font-size: 20px;
}
.header-container .header-panel .right .btn-create-room {
    cursor: pointer;
}
.header-container .header-panel .right .btn-create-room:hover {

}

.header-container .header-panel .right .user-panel {
    display: flex;
    cursor: pointer;
}
.header-container .header-panel .right .user-panel .nickname {

}
.header-container .header-panel .right .user-panel .icon-update-name {
    margin-left: 4px;
    display: none;
}
.header-container .header-panel .right .user-panel:hover {
    color: #000;
}


.main-container {
    margin-top: 50px;
    min-height: 300px;
    display: flex;
    justify-content: center;
}

.room-container {
    width: 90%;
}

.room-list {
    width: 100%;
    min-height: 300px;
    /*background-color: #fff;*/
    display: grid;
    grid-gap: 50px 50px;
    grid-template-columns: auto auto auto auto;
}
/*.rooms-container:after {
    content: "";
    width: 300px;
}*/
.room-item {
    height: 100px;
    position: relative;
    border-radius: 10px;
    box-shadow: 0 0 10px #999;
    cursor: pointer;

}
.room-item:hover {
    box-shadow: 0 0 10px #333;
}
.room-item .back {
    /*background-color: #000;*/
    width: 100%;
    height: 100%;
    z-index: -10;
    filter:alpha(Opacity=80);
    -moz-opacity: 0.5;
    opacity: 0.8;
    position: absolute;
    border-radius: 10px;
    top: 0;
    left: 0;
    background-image: url('/static/images/bg-room-item-2.jpg');
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: 50% 50%;
}
.room-item .content {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.room-item .content .name {
    width: 90%;
    color: #fff;
    font-size: 16px;
    font-weight: bolder;
}

.room-item .content .create-time {
    position: absolute;
    right: 1rem;
    top: 1rem;
    color: #c3c3c3;
    font-size: 1rem;
    font-weight: lighter;
}
.room-item .content .lock {
    position: absolute;
    left: 1rem;
    top: 1rem;
    color: #c3c3c3;
    font-size: 1rem;
    font-weight: lighter;
}
.room-item .content .info {
    position: absolute;
    right: 10px;
    bottom: 10px;
    color: #c3c3c3;
    font-size: 1rem;
    font-weight: lighter;
}
.room-item .content .info .count {
    margin-left: 0.5rem;
}

.room-item .content .creator {
    position: absolute;
    left: 1rem;
    bottom: 1rem;
    color: #c3c3c3;
    font-size: 1rem;
    font-weight: lighter;
}

.page-container {
    width: 90%;
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 50px;
}

.box-update-user {
    padding: 30px;
    width: 300px;
    display: none;
}

.box-room {
    padding: 30px;
    width: 300px;
    display: none;
}

.box-room-auth {
    padding: 30px;
    width: 300px;
    display: none;
}

.footer-container {
    margin-top: 100px;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #eee;
    color: #666;
    font-size: 1.2rem;
    font-weight: lighter;
}
.footer-container .content-container {
    width: 90%;
    display: flex;
    justify-content: space-between;
}
.footer-container a {
    margin-left: 10px;
    color: #666;
}
.footer-container .version {
    margin-right: 1rem;
}

.layui-form-item {
    position: relative;
}
.layui-form-item .required {   /* 给红色的必填项打红色星号（文字后）如果打前面用before*/
    position: absolute;
    top: 15px;
    left: -15px;
    color: red;
}

@media only screen and (min-width: 1100px) {
    #title {
        display: block;
    }
    .room-list {
        grid-gap: 50px 100px;
        grid-template-columns: auto auto auto auto;
        min-height: 350px;
    }
    .box-update-user {
        width: 300px;
    }

    .box-room {
        width: 300px;
    }

    .box-room-auth {
        width: 300px;
    }
}
@media only screen and (max-width: 1100px) {
    #title {
        display: none;
    }
    .room-list {
        grid-gap: 20px 30px;
        grid-template-columns: auto auto;
        min-height: 200px;
    }
    .box-update-user {
        width: 280px;
    }

    .box-room {
        width: 280px;
    }

    .box-room-auth {
        width: 280px;
    }
}