<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/lib/layui/css/layui.css">
    <link rel="stylesheet" href="/static/css/chat-room.css">
    <script src="/static/lib/layui/layui.js"></script>
    <script src="/static/js/chat-room.js"></script>
</head>
<body>
    <div class="main-container">
        <div class="left-container"></div>
        <div class="right-container"></div>
    </div>
    <div class="input-container">
        <textarea></textarea>
        <button>发送</button>
    </div>
</body>
</html>