<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>聊天室</title>

    <link rel="stylesheet" href="/static/lib/layui/css/layui.css">
    <link rel="stylesheet" href="/static/css/index.css">

    <script src="/static/lib/layui/layui.js"></script>
    <script src="/static/lib/js/sockjs.min.js"></script>
    <!--<script src="/static/js/index.js"></script>-->
</head>
<body>

    <header class="header-container">
        <div class="left">
            <div>
                <img class="logo" src="/static/images/logo.jpg">
            </div>
            <div class="title">
                聊天室
            </div>
            <div class="search">
                <input type="text" id="title" style="width:200px;float:right;height:30px;" placeholder="请输入标题" autocomplete="off" class="layui-input">
                <div class="layui-inline" style="float:right;height:29px;" title="搜索" lay-event="LAYTABLE_SEARCH"><i class="layui-icon layui-icon-search"></i></div>
            </div>
        </div>
        <div class="right">
            <div><i class="layui-icon layui-icon-more"></i></div>
        </div>
    </header>

    <div class="main-container">

        <ul class="room-list">
            <li class="room-item layui-panel">
                <div class="lock"><i class="layui-icon layui-icon-more"></i></div>
                <div class="name">房间名</div>
                <div class="info"><span>0</span>人在线</div>
            </li>
        </ul>

        <!--<div class="form-container">
            <form class="layui-form" action="">
                <input type="text" name="nickname" required  lay-verify="required" placeholder="起一个昵称" autocomplete="off" class="layui-input" th:value="${nickname}">
                <button class="layui-btn" lay-submit lay-filter="formEnter">进入</button>
            </form>
        </div>-->
    </div>

    <footer>
        &copy;2021 <a target="_blank" href="http://www.fengwenyi.com">Erwin Feng</a>
    </footer>



<script>
    //Demo
    layui.use('form', function(){
        var form = layui.form;

        //监听提交
        form.on('submit(formDemo)', function(data){
            layer.msg(JSON.stringify(data.field));
            return false;
        });
    });
</script>

</body>
</html>