<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>在线聊天室</title>

    <meta name="author" content="Erwin Feng"/>
    <meta name="keyword" content="在线聊天室"/>
    <meta name="description" content="在线聊天室"/>

    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge，chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <link th:href="'/static/images/favicon.ico?v=' + ${version}" rel="shortcut icon">

    <link rel="stylesheet" th:href="'/static/lib/layui/css/layui.css?v=' + ${version}">
    <link rel="stylesheet" th:href="'/static/css/index.css?v=' + ${version}">

    <script th:src="'/static/lib/layui/layui.js?v=' + ${version}"></script>

    <script th:src="'/static/util/Variable.js?v=' + ${version}"></script>
    <script th:src="'/static/util/Utils.js?v=' + ${version}"></script>
    <script th:src="'/static/util/CacheUtils.js?v=' + ${version}"></script>
    <script th:src="'/static/util/LayerUtils.js?v=' + ${version}"></script>
    <script th:src="'/static/util/AjaxUtils.js?v=' + ${version}"></script>

    <script th:src="'/static/util/Common.js?v=' + ${version}"></script>

    <script th:src="'/static/js/index.js?v=' + ${version}"></script>
</head>
<body>

    <header class="header-container">
        <div class="header-panel">
            <div class="left">
                <a target="_blank" href="https://www.fengwenyi.com">
                    <img class="logo" src="/static/images/logo.jpg" alt="logo">
                </a>
                <div class="title" id="title">
                    在线聊天室
                </div>
            </div>
            <div class="right">
                <div class="btn-create-room" id="btn-create-room">
                    创建房间
                    <!--<i class="layui-icon layui-icon-add-circle-fine"></i>-->
                </div>
                <div class="divider"></div>
                <div class="user-panel" id="btn-set-nickname">
                    <span class="nickname" id="nickname">设置昵称</span>
                    <i class="layui-icon icon-update-name layui-icon-triangle-d"></i>
                </div>
            </div>
        </div>
    </header>

    <div class="main-container">
        <div class="room-container">
            <div class="room-list" id="room-list">
                <!--<div class="room-item">
                    <div class="back"></div>
                    <div class="content">
                        <div class="lock"><i class="layui-icon layui-icon-password"></i></div>
                        <div class="create-time">2021-10-27 21:23</div>
                        <div class="name">房间名</div>
                        <div class="creator">张三</div>
                        <div class="info"><i class="layui-icon layui-icon-user"></i><span class="count">0</span></div>
                    </div>
                </div>-->
            </div>
        </div>


        <!--<div class="form-container">
            <form class="layui-form" action="">
                <input type="text" name="nickname" required  lay-verify="required" placeholder="起一个昵称" autocomplete="off" class="layui-input" th:value="${nickname}">
                <button class="layui-btn" lay-submit lay-filter="formEnter">进入</button>
            </form>
        </div>-->
    </div>

    <div class="page-container">
        <div class="box-page" id="box-page"></div>
    </div>

    <div class="layer-box">
        <div class="box-update-user">
            <form class="layui-form" action="">
                <div class="layui-form-item">
                    <input type="text" name="nickname" required  lay-verify="required" placeholder="请输入昵称" autocomplete="off" class="layui-input" maxlength="20">
                </div>
                <div class="layui-form-item">
                    <button class="layui-btn layui-btn-fluid" lay-submit lay-filter="formUpdateUser">立即提交</button>
                </div>
            </form>
        </div>
        <div class="box-room">
            <form class="layui-form" action="">
                <div class="layui-form-item">
                    <div class="required">*</div>
                    <input type="text" name="name" required  lay-verify="required" placeholder="请输入房间名称" autocomplete="off" class="layui-input" maxlength="20">
                </div>
                <div class="layui-form-item">
                    <input type="password" name="password" placeholder="请设置房间密码" autocomplete="off" class="layui-input" maxlength="16">
                </div>
                <div class="layui-form-item">
                    <button class="layui-btn layui-btn-fluid" lay-submit lay-filter="formRoom">立即提交</button>
                </div>
            </form>
        </div>
        <div class="box-room-auth">
            <form class="layui-form" action="">
                <input type="hidden" name="rid">
                <div class="layui-form-item">
                    <input type="password" name="password" required  lay-verify="required" placeholder="请输入密码" autocomplete="off" class="layui-input" maxlength="16">
                </div>
                <div class="layui-form-item">
                    <button class="layui-btn layui-btn-fluid" lay-submit lay-filter="formRoomAuth">立即提交</button>
                </div>
            </form>
        </div>
    </div>

    <footer class="footer-container">
        <div class="content-container">
            <div class="box-links">
                <a target="_blank" href="https://github.com/fengwenyi/erwin-chat-room/issues">Issues</a>
            </div>
            <div class="box-copyright"><span class="version">v<span th:text="${ version }"></span></span> Copyright &copy; 2022 <a target="_blank" href="https://www.fengwenyi.com">Erwin Feng</a></div>
        </div>
    </footer>

</body>
</html>