<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>在线聊天室-邀请</title>

    <meta name="author" content="冯文议·Erwin Feng"/>
    <meta name="keyword" th:content="在线聊天室"/>
    <meta name="description" th:content="在线聊天室"/>

    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge，chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <link rel="stylesheet" href="/static/lib/layui/css/layui.css">
    <link rel="stylesheet" href="/static/css/index.css">

    <script src="/static/lib/layui/layui.js"></script>

    <script src="/static/util/Variable.js"></script>
    <script src="/static/util/Utils.js"></script>
    <script src="/static/util/CacheUtils.js"></script>
    <script src="/static/util/LayerUtils.js"></script>
    <script src="/static/util/AjaxUtils.js"></script>
</head>
<body>

<!--

点分享，参数：rid, 邀请者uid，邀请id，如果房间需要密码则生成token

xxx 邀请你加入 xx 房间？

取消？

加入？

如果没有昵称，需要先设置昵称 -> 确定 -> 进入房间

下次通过邀请链接不需要再提示选择

再邀请链接有效期内，都可以点链接进入

另外，如果token有效，也可以直接点房间进入哦

生成一张二维码图片

-->

xxx 邀请你加入 xx 房间？


</body>
</html>